@model System.Web.Mvc.HandleErrorInfo
<div class="mycontainer">
    <h2 class="text-danger">Error.</h2>

    <h4>@Model.Exception.Message</h4>

    @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
</div>