/* --- Navigation Bar Styling ---*/
.centered-brand {
    position: absolute;
    left: 48%;
    background-color: #729f98;
    border-radius: 30px;
    font-family: Bookman, "Times New Roman", Times, serif;
    font-size: 22px;
}

.navbar {
    max-height: 65.5px;
}

.navbar-inverse {
    background-color: #f0eceb;
    border-color: #283018;
}

.navbar-inverse .navbar-brand {
        color: #141b13;
    }

.navbar-inverse .navbar-text {
        color: #283018;
    }

.navbar-inverse .navbar-nav > li > a {
        color: #283018;
    }

.big-search{
    font-size: 20px;
}

/* --- Footer Styling --- */
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 6rem; /*check if ok with all pages?*/
    min-height: 100%;
    /*font-family: "Helvetica Neue", Arial, sans-serif;*/
}

#outer {
    margin: 0 auto;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding: 1rem;*/
    width: 100%;
    background: #242b15; /*#283018;*/
    border-top: 1px solid black;
    padding-top: 15px;
    color: #f0eceb;
}

footer ul {
    list-style-type: none;
}
footer ul li {
    display: inline;
}


/* --- Form Styling --- */
#form-container {
    background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    border-radius: 5px;
    margin: 3em auto;
    background: rgba(255, 255, 255, 0.75);
    padding: 1em;
}

input, select, textarea {
    max-width: 450px;
}

.form-control::-moz-placeholder {
    color: #7d7d7d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #7d7d7d;
}

.form-control::-webkit-input-placeholder {
    color: #7d7d7d;
}

/* --- Button Styling --- */
.btn-trekstories {
    color: white /*#141b13*/;
    background-color: #668f88;
    border-color: #cccccc; /*#f0eceb;*/
}

    .btn-trekstories:hover,
    .btn-trekstories:focus,
    .btn-trekstories:active,
    .btn-trekstories.active,
    .open .dropdown-toggle.btn-trekstories {
        color: #202613;
        background-color: #729f98; /*#9cbbb6;*/
        border-color: #adadad;
    }

.btn-trekstories:active,
.btn-trekstories.active,
.open .dropdown-toggle.btn-trekstories {
    background-image: none;
}

.btn-default {
    color: #202613;
}


/* --- Blockquote Styling --- */

blockquote {
    margin: 0 0 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    border-left: none;
}

blockquote small {
        color: #868e96;
    }

.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
}

.mb-0{
    margin-bottom: 0 !important;
}

/* --- Panel Styling --- */

/*.panel-trekstories > .panel-heading {
    background-color: #f8f3e8;
}*/

/* --- Tooltip Styling --- */

.mytooltip {
    position: relative;
    display: inline-block;
}

.mytooltip .mytooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -70px;
    }

.mytooltip:hover .mytooltiptext {
        visibility: visible;
}

.mytooltip .mytooltiptext::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
}

/* Keep content out of nav bar and footer */
.mycontainer {
    margin: 2.5em auto;
    padding: 1em;
}