<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f6817ab2-28ea-4ed0-9dce-624cc0c82f8e/resourceGroups/TrekStories/providers/Microsoft.Web/sites/TrekStories</ResourceId>
    <ResourceGroup>TrekStories</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trekstories.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trekstories.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TrekStories</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TrekStories</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TrekStoriesContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:trekstoriesdb.database.windows.net,1433;Initial Catalog=TrekStories-sql;User ID=Treks_sql@trekstoriesdb.database.windows.net;Password=TSrek2018!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrekStories.DAL.TrekStoriesContext, TrekStories" MigrationConfiguration="TrekStories.Migrations.Configuration, TrekStories" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TrekStoriesContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trekstoriesdb.database.windows.net,1433;Initial Catalog=TrekStories-sql;User ID=Treks_sql@trekstoriesdb.database.windows.net;Password=TSrek2018!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>