@{
    ViewBag.Title = "Contact";
}
<div class="mycontainer">
    <h2>@ViewBag.Title.</h2>
    <p>
        Do you have a query? Do you want to report a bug or request a feature? 
    </p>
    <address>
        <strong>Contact Us:</strong>   <a href="mailto:info@trekstories.com">info@trekstories.com</a><br />
    </address>
</div>