@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url(../../Images/adventure-beautiful-cliff.jpg);
    }
</style>
<div class="mycontainer">
    <div class="text-center" style="max-height:200px; margin-top:4em; font-size:1.5em;">
        <p>Trek Stories help passionate hikers organise their hiking trips around the world.</p>
        <br/>
        <p><a class="btn btn-lg btn-default" href="@Url.Action("Create", "Trip")">Plan a Trek</a></p>
        <p>&#126; or &#126;</p>
        <p><a class="btn btn-lg btn-default" href="@Url.Action("Search", "Trip")">Get Inspired</a></p>
    </div>
</div>